<section class="relative bg-[url('/about-bg.jpg')] bg-cover bg-center w-full">
    <div class="absolute inset-0 bg-gray-900/50 z-0"></div>
  
    <nav class="py-5 hidden lg:block text-white z-10 relative">
      <div class="flex justify-around items-center">
        <p class="text-xl font-bold">Start Bootstrap</p>
        <ul class="hidden md:flex gap-6">
          <li><a href="/" class="hover:text-blue-500 font-semibold">Home</a></li>
          <li>
            <a href="/about" class="hover:text-blue-500 font-semibold">About</a>
          </li>
          <li>
            <a href="/employee" class="hover:text-blue-500 font-semibold"
              >Employee</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div
      class="flex flex-col gap-3 justify-center items-center pt-40 pb-48 text-white z-10 relative"
    >
      <h1 class="text-7xl font-bold">About Us</h1>
      <p class="text-2xl font-semibold">This is what I do.</p>
    </div>
  </section>
  <section class="my-12 px-4">
    <div class="flex flex-col gap-8 justify-center items-center">
      <div class="max-w-xl w-full space-y-8">
        <p class="text-xl text-gray-900">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio necessitatibus earum, quisquam quibusdam autem asperiores minima? Eius, earum? Cum commodi ea a odio. Nisi, veniam nostrum expedita voluptates autem adipisci!</p>
        <p class="text-xl text-gray-900">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio necessitatibus earum, quisquam quibusdam autem asperiores minima? Eius, earum? Cum commodi ea a odio. Nisi, veniam nostrum expedita voluptates autem adipisci!</p>
        <p class="text-xl text-gray-900">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio necessitatibus earum, quisquam quibusdam autem asperiores minima? Eius, earum? Cum commodi ea a odio. Nisi, veniam nostrum expedita voluptates autem adipisci!</p>
      </div>
    </div>
  </section>
  