<section class="relative bg-[url('/home-bg.jpg')] bg-cover bg-center w-full">
  <div class="absolute inset-0 bg-gray-900/50 z-0"></div>

  <nav class="py-5 hidden lg:block text-white z-10 relative">
    <div class="flex justify-around items-center">
      <p class="text-xl font-bold">Start Bootstrap</p>
      <ul class="hidden md:flex gap-6">
        <li><a href="/" class="hover:text-blue-500 font-semibold">Home</a></li>
        <li>
          <a href="/about" class="hover:text-blue-500 font-semibold">About</a>
        </li>
        <li>
          <a href="/employee" class="hover:text-blue-500 font-semibold"
            >Employee</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div
    class="flex flex-col gap-3 justify-center items-center pt-40 pb-48 text-white z-10 relative"
  >
    <h1 class="text-7xl font-bold">Clean Blog</h1>
    <p class="text-2xl font-semibold">A Blog Theme by Start Bootstrap</p>
  </div>
</section>
<section class="my-12 px-4">
  <div class="flex flex-col gap-8 justify-center items-center">
    <div class="max-w-xl w-full space-y-4">
        <h2 class="font-extrabold text-4xl">
            Man must explore, and this is exploration at its greatest
        </h2 >    
        <h4 class="font-semibold text-2xl">Problems look mighty small from 150 miles up</h4>
        <p>Posted by Start Bootstrap on September 24, 2023</p>
    </div>
    <div class="max-w-xl w-full space-y-4">
        <h2 class="font-extrabold text-4xl">
            Man must explore, and this is exploration at its greatest
        </h2 >    
        <h4 class="font-semibold text-2xl">Problems look mighty small from 150 miles up</h4>
        <p>Posted by Start Bootstrap on September 24, 2023</p>
    </div>
    <div class="max-w-xl w-full space-y-4">
        <h2 class="font-extrabold text-4xl">
            Man must explore, and this is exploration at its greatest
        </h2 >    
        <h4 class="font-semibold text-2xl">Problems look mighty small from 150 miles up</h4>
        <p>Posted by Start Bootstrap on September 24, 2023</p>
    </div>
    <div class="max-w-xl w-full flex justify-end">
        <button class="bg-blue-600 text-white px-11 py-4 font-bold">Older Posts</button>
    </div>
  </div>
</section>
