<footer class="my-4 pt-8 border-t border-gray-300">
  <div class="flex gap-3.5 justify-center items-center">
    <i class="border rounded-full p-5 bg-gray-900"></i>
    <i class="border rounded-full p-5 bg-gray-900"></i>
    <i class="border rounded-full p-5 bg-gray-900"></i>
  </div>
  <p class="text-center mt-4">
   Copyright &copy; Your Website 2025
  </p>
</footer>
<script>
  document.getElementById('menu-toggle').addEventListener('click', () => {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  });
</script>